body {
  font-family: "Segoe UI", sans-serif;
}

.navbar-brand {
  font-size: 1.3rem;
}

.card {
  border-radius: 10px;
}

#userAvatar {
  border: 2px solid white;
}

.table th, .table td {
  vertical-align: middle;
}
